<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="html5reset-1.6.1.css" />
<style>
body {
    text-align: center;
    background: white;
    color: black;
    font-family: Helvetica;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;   
}

header h3 {
    font-size: 48px;
    margin: 20px;
}
p {
	font-size: 18px;
	margin: 20px;
	 
}
#container {
	margin-top: 20px;
}
</style>
</head>

<body>
<header><h3>Hit The Tile Support</h3></header>

<div id="container">
<p>
	<h3>Instructions to play the game:</h3><br>
	Hit the tile is a very simple iOS game. The user just has to launch the game and click 'Play'. A coloured tile appears of the screen which the user has to remove by tapping on it. If the user taps inside the tile he gets a point and if he taps outside the tile or does not click anywhere then the game is over.
</p>
<p>
	Feel free to contact me in case you encounter any bugs or crashes.<br><br>
	Mail: <a href="mailto:ankit1ank@gmail.com">ankit1ank@gmail.com</a><br>
	<a href="https://in.linkedin.com/in/ankitank">LinkedIn</a>
	<a href="https://github.com/ankit1ank">Github</a> <a href="http://stackoverflow.com/users/1920977/ankit-goel">Stackoverflow</a><br>
	<a href="https://twitter.com/ankitank">Twitter: @ankitank</a>
</p>
</div>

</body>
</html>
